@charset "UTF-8";


body {
	margin: 0;
	display: grid;
	grid-template-areas:
		"header"
		"nav"
		"main"
		"footer";
	gap: 1rem;
}

/* PC */
@media (min-width: 500px) {
	body {
		grid-template-areas:
			"header header"
			"nav    main"
			"footer footer";
		grid-template-columns: 1fr 4fr;
	}
}

header {
	grid-area: header;
	background: lightblue;
}

#nav {
	grid-area: nav;
	background: lightgreen;

}

main {
	grid-area: main;
	background: lightyellow;
}

#footer {
	grid-area: footer;
	background: lightgray;
}

.nav-list {
  list-style: none;   /* 黒ポチを消す */
  padding: 5%;         
  margin: 0;
  display:flex;
  flex-direction: column;
}
.nav-list a{
	text-decoration: none;
	color: black;
}
.nav-list a:hover{
	background-color: aqua;
}

.nav-list a:visited{
	color: black;
}



